<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <p><a href="/viewworker">ViewWorker</a>
  </p>
    <p><a href="/registerworker">Add Worker</a>
  </p>

    <p><a href="/service_mngt">service mngt</a>
  </p>

    <p><a href="/sndfeedbackuser">Send Feedback</a>
  </p>

    <p><a href="/changepasswd">Change Password</a>
  </p>


    <p><a href="/viewratings">View Ratings</a>
  </p>
     <p><a href="/viewservicereq">View Requests</a>
  </p>
    <p><a href="/viewverifiedreq">View verified requests</a>
  </p>
</body>
</html>
