{% extends "Admin/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/sndreplay_post/{{ id }}">
  <table width="779" height="346" border="1">
      <tr>
      <th scope="row">Date:</th>
      <td><label for="textfield2"></label>
      <input type="tel" class="form-control" id="phn" name="date" placeholder="Enter date" required></td>
    </tr>
    <tr>
      <th scope="row">Send Replay</th>
      <td><label for="textarea"></label>
      <textarea class="form-control" id="addr" name="sreplay" rows="3" placeholder="Enter replay"></textarea></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Send" /></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}