{% extends "Admin/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <style>
         * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 2px solid black;
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: darkslategrey;
        color: white;
    }
    </style>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="494" height="197" border="1">
    <tr>
      <th width="58" scope="row">Slno</th>
      <td width="58">Name</td>
        <td width="58">Date</td>
      <td width="51">Feedback</td>
    </tr>
      {% for i in view %}
    <tr>
      <th scope="row">{{ forloop.counter }}&nbsp;</th>
      <td>{{ i.name }}</td>
      <td>{{ i.date }}&nbsp;</td>
     <td>{{ i.feedback }}&nbsp;</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}