{% extends "User/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <style>
        table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 2px solid black;
        padding: 10px;
        text-align: center;
    }



    </style>
</head>

<body>
<form id="form1" name="form1" method="post" action="/changepsw_postu">
  <div class="container-fluid justify-content-center">
  <table width="538" height="267" border="1" >
    <tr>
      <th scope="row">Current Password:</th>
      <td><label for="pwd" class="form-label"></label>
          <input type="name" class="form-control border-2 border-dark" id="name" placeholder="Enter Username" name="cpsw"></td>
    </tr>
    <tr>
      <th scope="row">New Password:</th>
      <td><label for="pwd" class="form-label"></label>
     <input type="name" class="form-control border-2 border-dark" id="name" placeholder="Enter Username" name="npsw">
</td>
    </tr>
      <tr>
      <th scope="row">Conform Password:</th>
      <td><label for="pwd" class="form-label"></label>
      <input type="name" class="form-control border-2 border-dark" id="name" placeholder="Enter Username" name="copsw">
</td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><button type="submit" class="btn btn-lg btn-primary mb-3 mt-3">Submit</button>
</th>
    </tr>
  </table>
        </div>
</form>
</body>
</html>
{% endblock %}